<!DOCTYPE html >
<html lang="en" ng-app="confusionApp">
    <head>
        <meta charset= "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ristorante Con Fusion</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/myStyles.css">
    </head>
<body>
    <div class="container">
        <div class="row row-content" ng-controller="menuController as menuCtrl">
            
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                    ng-class="{active:menuCtrl.isSelected(1)}">
                        <a ng-click="menuCtrl.select(1)"
                         aria-controls="all menu" role="tab">The Menu</a>
                    </li>
                    <li role="presentation"
                    ng-class="{active:menuCtrl.isSelected(2)}">
                        <a ng-click="menuCtrl.select(2)"
                         aria-controls="appetizers" role="tab">Appetizers</a>
                    </li>
                    <li role="presentation"
                    ng-class="{active:menuCtrl.isSelected(3)}">
                        <a ng-click="menuCtrl.select(3)"
                        aria-controls="mains" role="tab">Mains</a>
                    </li>
                    <li role="presentation"
                    ng-class="{active:menuCtrl.isSelected(4)}">
                        <a ng-click="menuCtrl.select(4)"
                        aria-controls="deserts" role="tab">Desserts</a>
                    </li>
                </ul>
                <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="dish in menuCtrl.dishes | filter:menuCtrl.fillText">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img ng-src={{dish.image}} alt="Uthapizza" class="media-object img-thumbnail">
                        </a>
                    </div> 
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger label-xs">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                    </div>
                </li>
                 </ul>
            </div>
        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>  
    
    <script>

         var app = angular.module('confusionApp',[]);

        app.controller("menuController", function($scope) {
            
            this.tab = 1;

             $scope.dishes=[
            {
                name:'Uthapizza',
                image: 'img/uthapizza.png',
                category: 'mains',
                label: 'Hot',
                price: '4.99',
                description:'A unique combination of Indian pancake and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes.',
                comment: ''
            },
            {
                name:'Zucchipakopda',
                image: 'img/zucchipakoda.png',
                category: 'appetizer',
                label: '',
                price:'1.99',
                description: 'Deep fried chicken with mildly spiced chicken flour batter',
                comment: ''
            },
            {
                name:'Vadonut',
                image: 'img/vadonut.png',
                category: 'appetizer',
                label: 'New',
                price:'1.99',
                description: 'A quintessed confusion experience, is it a vad or is it a donut',
                comment: ''
            },
            {
                name:'ElaiCheese Cake',
                image: 'img/elaicheesecake.png',
                category: 'dessert',
                label: '',
                price:'2.99',
                description: 'A delectable, semi-sweet new york style cheese cake, with graham cracker and spices',
                comment: ''
            }
            ];

            this.dishes = dishes;

            this.select = function(setTab) {
                this.tab = setTab;

                if(setTab === 2)
                    this.filtText = "appetizer";
                else if (setTab === 3)
                    this.filtText = "mains";
                else if (setTab === 4)
                    this.filtText = ""
                else
                    this.filtText = "";

            }

            this.isSelected = function (checkTab) {
                return (this.tab === checkTab);
            }

        });

    </script>
      
</body>
</html>